
.devices {
  padding: 20px;
  background-color: #f0f0f0;
  color: #572ad7;
}
.device-list {
  list-style-type: none;
  padding: 0;
}

.device-item {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.device-item h2 {
  margin: 0 0 10px;
 
}

.device-item p {
  margin: 5px 0;

}

.device-item p strong {

}